@import "./colors.scss";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $IMPORTANT_BACKGROUND_COLOR;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $BORDER_COLOR;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $BORDER_COLOR;
}

body {
  background-color: $DEFAULT_BACKGROUND_COLOR;
  color: $FONT_COLOR;
  font-family: "adRegular";
  user-select: none;
  overflow-x: hidden;
}

h1 {
  color: $IMPORTANT_FONT_COLOR;
  font-family: "adBold";
}

h2 {
  color: $IMPORTANT_FONT_COLOR;
  font-family: "adBold";
}

h3 {
  color: $IMPORTANT_FONT_COLOR;
  font-family: "adBold";
}

h4 {
  color: $IMPORTANT_FONT_COLOR;
  font-family: "adBold";
}

h5 {
  color: $IMPORTANT_FONT_COLOR;
  font-family: "adBold";
}

h6 {
  color: $IMPORTANT_FONT_COLOR;
  font-family: "adBold";
}

p {
  color: $FONT_COLOR;
}

@font-face {
  font-family: "adBold";
  src: url("../fonts/AdventPro-Bold.ttf");
}

@font-face {
  font-family: "adRegular";
  src: url("../fonts/AdventPro-Regular.ttf");
}

.container-after-titlebar {
  overflow-x: hidden !important;
}

.clickableText {
  font-weight: bolder;
  color: $IMPORTANT_FONT_COLOR;
  cursor: pointer;
}

.clickable:hover {
  background-color: $IMPORTANT_BACKGROUND_COLOR;
}

.clickableText:hover {
  text-decoration: underline;
  text-decoration-color: $IMPORTANT_FONT_COLOR;
}

.clickableAlt:hover {
  background-color: $DEFAULT_BACKGROUND_COLOR;
}

.primaryColorText {
  color: $PRIMARY_COLOR;
}

.hoverBorderColor:hover {
  border: 2px solid $BORDER_COLOR;
  transition: 0.2s;
}

.hoverPrimaryBorderColor {
  border: 2px solid $PRIMARY_COLOR;
  transition: 0.5s;
}

::selection {
  color: $IMPORTANT_FONT_COLOR;
  background: $PRIMARY_COLOR;
}

.dropzone:focus {
  outline: none;
}