:root {
  --DEFAULT_BACKGROUND_COLOR: #293538;
  --IMPORTANT_BACKGROUND_COLOR: #20292b;
  --FONT_COLOR: #b3b6b6;
  --IMPORTANT_FONT_COLOR: #cfd5d6;
  --DISABLED_FONT_COLOR: #5a6f72;
  --ERROR_COLOR: #e8232d;
  --PRIMARY_COLOR: #009688;
  --HOVER_COLOR: #5a6f72;
  --BORDER_COLOR: #364346;

  --GENERATOR_COLOR: #e91e63;
  --GENERATOR_GRAYSCALE: #8bc34a;
  --PROCESS_COLOR: #ff5722;
  --PROCESS_GRAYSCALE: #00bcd4;
  --OUTPUT_COLOR: #673ab7;
  --OUTPUT_GRAYSCALE: #f44336;
  --GRAPH_EDITOR_BACKGRUND_COLOR: #2d3a3d;
  --GRAPH_EDITOR_GRID_COLOR: #364346;
  --NODE_HEADER_FONT_COLOR: #ffffff;
  --NODE_BODY_BACKGROUND_COLOR: #20292b;
  --NODE_BODY_FONT_COLOR: #b3b6b6;
  --GRAYSCALE_CONNETION_COLOR: #b3b6b6;
  --COLOR_CONNECTION_COLOR: #ffa500;

  --NUMBER_CONECTION_COLOR: #8bc34a;
  --NUMBER3_CONNECTION_COLOR: #e91e63;
  --COLORVEC_CONNECTION_COLOR: #ff5722;
  --COLORVEC3_CONNECTION_COLOR: #00bcd4;
  --LUT_CONNECTION_COLOR: #673ab7;
  --LUT3_CONNECTION_COLOR: #ffa500;
  --BOOLEAN_CONNECTION_COLOR: #b3b6b6;
}

$LIGHT_GREY: #364346;
$DARK_GREY: #293538;
$PANDA_DARK_GRAY: #2d3a3d;
$DARKER_GREY: #20292b;
$LIGHTER_GREY: #5a6f72;
$LIGHTEST_GREY: #b3b6b6;
$WHITE_GREY: #cfd5d6;
$RED: #e8232d;
$CYAN: #009688;
$PINK: #e91e63;
$GREEN: #8bc34a;
$ORANGE: #ffa500;
$DEEP_ORANGE: #ff5722;
$PANDA_CYAN: #00bcd4;
$DEEP_PURPLE: #673ab7;
$PANDA_RED: #f44336;
$WHITE: #ffffff;

$DARKER_BLUE: #1a202c;
$DARK_BLUE: #212b3b;

$DEFAULT_BACKGROUND_COLOR: var(--DEFAULT_BACKGROUND_COLOR);
$IMPORTANT_BACKGROUND_COLOR: var(--IMPORTANT_BACKGROUND_COLOR);
$FONT_COLOR: var(--FONT_COLOR);
$IMPORTANT_FONT_COLOR: var(--IMPORTANT_FONT_COLOR);
$DISABLED_FONT_COLOR: var(--DISABLED_FONT_COLOR);
$ERROR_COLOR: var(--ERROR_COLOR);
$PRIMARY_COLOR: var(--PRIMARY_COLOR);
$HOVER_COLOR: var(--HOVER_COLOR);
$BORDER_COLOR: var(--BORDER_COLOR);

$GENERATOR_COLOR: var(--GENERATOR_COLOR);
$GENERATOR_GRAYSCALE: var(--GENERATOR_GRAYSCALE);
$PROCESS_COLOR: var(--PROCESS_COLOR);
$PROCESS_GRAYSCALE: var(--PROCESS_GRAYSCALE);
$OUTPUT_COLOR: var(--OUTPUT_COLOR);
$OUTPUT_GRAYSCALE: var(--OUTPUT_GRAYSCALE);

$GRAPH_EDITOR_BACKGRUND_COLOR: var(--GRAPH_EDITOR_BACKGRUND_COLOR);
$GRAPH_EDITOR_GRID_COLOR: var(--GRAPH_EDITOR_GRID_COLOR);

$NODE_HEADER_FONT_COLOR: var(--NODE_HEADER_FONT_COLOR);
$NODE_BODY_BACKGROUND_COLOR: var(--NODE_BODY_BACKGROUND_COLOR);
$NODE_BODY_FONT_COLOR: var(--NODE_BODY_FONT_COLOR);
$GRAYSCALE_CONNETION_COLOR: var(--GRAYSCALE_CONNETION_COLOR);
$COLOR_CONNECTION_COLOR: var(--COLOR_CONNECTION_COLOR);

$NUMBER_CONECTION_COLOR: var(--NUMBER_CONECTION_COLOR);
$NUMBER2_CONNECTION_COLOR: var(--NUMBER_CONNECTION_COLOR);
$COLORVEC_CONNECTION_COLOR: var(--COLORVEC_CONNECTION_COLOR);
$COLORVEC3_CONNECTION_COLOR: var(--COLORVEC3_CONNECTION_COLOR);
$LUT_CONNECTION_COLOR: var(--LUT_CONNECTION_COLOR);
$LUT3_CONNECTION_COLOR: var(--LUT3_CONNECTION_COLOR);
$BOOLEAN_CONNECTION_COLOR: var(--BOOLEAN_CONNECTION_COLOR);
