$LIGHT_GREY: #364346;
$DARK_GREY: #293538;
$DARKER_GREY: #20292b;
$LIGHTER_GREY: #5a6f72;
$LIGHTEST_GREY: #b3b6b6;
$WHITE_GREY: #cfd5d6;
$RED: #e8232d;
$CYAN: #009688;

$DEFAULT_BACKGROUND_COLOR: $DARK_GREY;
$IMPORTANT_BACKGROUND_COLOR: $DARKER_GREY;
$FONT_COLOR: $LIGHTEST_GREY;
$IMPORTANT_FONT_COLOR: $WHITE_GREY;
$DISABLED_FONT_COLOR: $LIGHTER_GREY;
$ERROR_COLOR: $RED;
$PRIMARY_COLOR: $CYAN;
$HOVER_COLOR: $LIGHTER_GREY;
$BORDER_COLOR: $LIGHT_GREY;