$LIGHT_GREY: #364346;
$DARK_GREY: #293538;
$PANDA_DARK_GRAY: #2d3a3d;
$DARKER_GREY: #20292b;
$LIGHTER_GREY: #5a6f72;
$LIGHTEST_GREY: #b3b6b6;
$WHITE_GREY: #cfd5d6;
$RED: #e8232d;
$CYAN: #009688;
$PINK: #E91E63;
$GREEN: #8BC34A;
$ORANGE: #FFA500;
$DEEP_ORANGE: #FF5722;
$PANDA_CYAN: #00BCD4;
$DEEP_PURPLE: #673AB7;
$PANDA_RED: #F44336;
$WHITE: #ffffff;

$DARKER_BLUE: #1a202c;
$DARK_BLUE: #212b3b;

$DEFAULT_BACKGROUND_COLOR: $DARK_GREY;
$IMPORTANT_BACKGROUND_COLOR: $DARKER_GREY;
$FONT_COLOR: $LIGHTEST_GREY;
$IMPORTANT_FONT_COLOR: $WHITE_GREY;
$DISABLED_FONT_COLOR: $LIGHTER_GREY;
$ERROR_COLOR: $RED;
$PRIMARY_COLOR: $CYAN;
$HOVER_COLOR: $LIGHTER_GREY;
$BORDER_COLOR: $LIGHT_GREY;

$GENERATOR_COLOR: $PINK;
$GENERATOR_GRAYSCALE: $GREEN;
$PROCESS_COLOR: $DEEP_ORANGE;
$PROCESS_GRAYSCALE: $PANDA_CYAN;
$OUTPUT_COLOR: $DEEP_PURPLE;
$OUTPUT_GRAYSCALE: $PANDA_RED;

$GRAPH_EDITOR_BACKGRUND_COLOR: $PANDA_DARK_GRAY;
$GRAPH_EDITOR_GRID_COLOR: $LIGHT_GREY;

$NODE_HEADER_FONT_COLOR: $WHITE;

$GRAYSCALE_CONNETION_COLOR: $LIGHTEST_GREY;
$COLOR_CONNECTION_COLOR: $ORANGE;
$FLOAT_CONECTION_COLOR: $GREEN;
$INT_CONNECTION_COLOR: $PINK;
$COLORPICK_CONNECTION_COLOR: $DEEP_ORANGE;
$FLOATVEC2_CONNECTION_COLOR: $PANDA_CYAN;
$INTVEC2_CONNECTION_COLOR: $DEEP_PURPLE;

:export {
  LIGHT_GREY: $LIGHT_GREY;
  DARK_GREY: $DARK_GREY;
  PANDA_DARK_GRAY: $PANDA_DARK_GRAY;
  DARKER_GREY: $DARKER_GREY;
  LIGHTER_GREY: $LIGHTER_GREY;
  LIGHTEST_GREY: $LIGHTEST_GREY;
  WHITE_GREY: $WHITE_GREY;
  RED: $RED;
  CYAN: $CYAN;
  PINK: $PINK;
  GREEN: $GREEN;
  ORANGE: $ORANGE;
  DEEP_ORANGE: $DEEP_ORANGE;
  PANDA_CYAN: $PANDA_CYAN;
  DEEP_PURPLE: $DEEP_PURPLE;
  PANDA_RED: $PANDA_RED;
  WHITE: $WHITE;

  DARKER_BLUE: $DARKER_BLUE;
  DARK_BLUE: $DARK_BLUE;

  DEFAULT_BACKGROUND_COLOR: $DEFAULT_BACKGROUND_COLOR;
  IMPORTANT_BACKGROUND_COLOR: $IMPORTANT_BACKGROUND_COLOR;
  FONT_COLOR: $FONT_COLOR;
  IMPORTANT_FONT_COLOR: $IMPORTANT_FONT_COLOR;
  DISABLED_FONT_COLOR: $DISABLED_FONT_COLOR;
  ERROR_COLOR: $ERROR_COLOR;
  PRIMARY_COLOR: $PRIMARY_COLOR;
  HOVER_COLOR: $HOVER_COLOR;
  BORDER_COLOR: $BORDER_COLOR;

  GENERATOR_COLOR: $GENERATOR_COLOR;
  GENERATOR_GRAYSCALE: $GENERATOR_GRAYSCALE;

  PROCESS_COLOR: $PROCESS_COLOR;
  PROCESS_GRAYSCALE: $PROCESS_GRAYSCALE;
  OUTPUT_COLOR: $OUTPUT_COLOR;
  OUTPUT_GRAYSCALE: $OUTPUT_GRAYSCALE;

  GRAPH_EDITOR_BACKGRUND_COLOR: $GRAPH_EDITOR_BACKGRUND_COLOR;
  GRAPH_EDITOR_GRID_COLOR: $GRAPH_EDITOR_GRID_COLOR;

  NODE_HEADER_FONT_COLOR: $NODE_HEADER_FONT_COLOR;

  GRAYSCALE_CONNETION_COLOR: $GRAYSCALE_CONNETION_COLOR;
  COLOR_CONNECTION_COLOR: $COLOR_CONNECTION_COLOR;
  FLOAT_CONECTION_COLOR: $FLOAT_CONECTION_COLOR;
  INT_CONNECTION_COLOR: $INT_CONNECTION_COLOR;
  COLORPICK_CONNECTION_COLOR: $COLORPICK_CONNECTION_COLOR;
  FLOATVEC2_CONNECTION_COLOR: $FLOATVEC2_CONNECTION_COLOR;
  INTVEC2_CONNECTION_COLOR: $INTVEC2_CONNECTION_COLOR;
}