@import "./colors.scss";

.gcp-button {
  background-color: $IMPORTANT_BACKGROUND_COLOR;
  border: 0;
  color: $FONT_COLOR;
  padding: 8px 15px;
  margin: 5px;
}

.gcp-button:hover {
  background-color: $HOVER_COLOR;
  color: $IMPORTANT_FONT_COLOR;
}

.gcp-button:active {
  background-color: $BORDER_COLOR;
  color: $IMPORTANT_FONT_COLOR;
}

.gcp-button:focus {
  border: none;
  outline: none;
}

.gcp-inputnumber {
  margin: 5px;
}

.gcp-inputnumber {
  input {
    background-color: $IMPORTANT_BACKGROUND_COLOR;
    color: $FONT_COLOR;
  }

  input:focus {
    box-shadow: none;
  }

  button {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
    background-image: none !important;

    span {
      color: $IMPORTANT_FONT_COLOR !important;
    }
  }

  button:active {
    background-color: $HOVER_COLOR !important;
  }

  button:focus {
    outline: none;
  }
}

.gcp-inputstring {
  input {
    background-color: $IMPORTANT_BACKGROUND_COLOR;
    margin: 5px;
    caret-color: $IMPORTANT_FONT_COLOR;
    color: $IMPORTANT_FONT_COLOR;
  }

  input:focus {
    box-shadow: none;
  }
}

.bp3-control.bp3-switch .bp3-control-indicator::before {
  background-color: $IMPORTANT_FONT_COLOR;
}

.gcp-switch {
  margin: 5px;

  input:focus {
    box-shadow: none;
    outline: none;
  }

  input:checked ~ .bp3-control-indicator {
    background-color: $PRIMARY_COLOR !important;
  }

  input ~ .bp3-control-indicator {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
  }

  input:checked ~ .bp3-control-indicator::before {
    background-color: $IMPORTANT_FONT_COLOR !important;
  }
}

.gcp-slider1 {
  margin: 5px;
  color: $IMPORTANT_FONT_COLOR;

  .bp3-slider-progress {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
  }

  .bp3-intent-primary {
    background-color: $PRIMARY_COLOR !important;
  }

  .bp3-slider-handle {
    background-color: $IMPORTANT_FONT_COLOR !important;
    background-image: none !important;
  }

  .bp3-slider-label {
    color: $IMPORTANT_FONT_COLOR !important;
  }

  .bp3-slider-handle .bp3-slider-label {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
  }
}

.gcp-slider2 {
  margin: 5px;
  color: $IMPORTANT_FONT_COLOR;

  .bp3-slider-progress {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
  }

  .bp3-intent-primary {
    background-color: $PRIMARY_COLOR !important;
  }

  .bp3-slider-handle {
    background-color: $IMPORTANT_FONT_COLOR !important;
    background-image: none !important;
  }

  .bp3-slider-label {
    color: $IMPORTANT_FONT_COLOR !important;
  }

  .bp3-slider-handle .bp3-slider-label {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
  }
}

// .gcp-grayscaleslider {
//   -webkit-appearance: none;
//   width: 100%;
//   height: 15px;
//   background-image: linear-gradient(to right, black, white);
//   outline: none;
//   opacity: 0.7;
//   -webkit-transition: 0.2s;
//   transition: opacity 0.2s;
// }

// .gcp-grayscaleslider::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 20px;
//   height: 20px;
//   border: 2px solid $IMPORTANT_FONT_COLOR;
//   background: #04aa6d;
//   cursor: pointer;
// }

.gcp-grayscaleslider {
  margin: 5px;
  color: $IMPORTANT_FONT_COLOR;
  background: linear-gradient(to right, black, white);

  .bp3-slider-progress {
    background: rgba(0, 0, 0, 0) !important;
  }

  .bp3-slider-handle {
    height: 100% !important;
    width: 5px;
    border: 1px solid $IMPORTANT_BACKGROUND_COLOR !important;
    background-color: $IMPORTANT_FONT_COLOR !important;
    background-image: none !important;
    margin-left: 20px;
  }

  .bp3-slider-label {
    margin-top: 25px;
    color: $IMPORTANT_FONT_COLOR !important;
  }

  .bp3-slider-handle .bp3-slider-label {
    background-color: $IMPORTANT_BACKGROUND_COLOR !important;
  }
}
